@font-face {
   font-family: 'Zenzai Itacha';
   font-display: swap;
   src: url('Zenzai Itacha/font.ttf');
}
@font-face {
   font-family: 'MasonBold';
   font-display: swap;
   src: url('MasonBold/font.ttf');
}
@font-face {
   font-family: 'bankGothiFont';
   font-display: swap;
   src: url('bankGothiFont/font.ttf');
}
@font-face {
   font-family: 'OstrichFont';
   font-display: swap;
   src: url('OstrichFont/font.ttf');
}
