@font-face {
   font-family: 'font';
   src: url('font/font.ttf');
}
@font-face {
   font-family: 'Westmeath';
   src: url('Westmeath/font.ttf');
}
@font-face {
   font-family: 'BankGothic Bold';
   src: url('BankGothic Bold/font.ttf');
}
@font-face {
   font-family: 'ostrich-regular';
   src: url('ostrich-regular/font.ttf');
}
