@font-face {
   font-family: 'Wews';
   src: url('Wews/font.ttf');
}
@font-face {
   font-family: 'fontss';
   src: url('fontss/font.ttf');
}
@font-face {
   font-family: 'fontv';
   src: url('fontv/font.ttf');
}
@font-face {
   font-family: 'font';
   src: url('font/font.ttf');
}
