@font-face {
   font-family: 'ostrich-black';
   font-display: swap;
   src: url('file:///C:/Users/moham/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-01-03_182522/fonts/ostrich-black/font.ttf');
}
