@font-face {
   font-family: 'big_noodle';
   font-display: swap;
   src: url('file:///C:/Users/moham/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-01-03_182522/fonts/big_noodle/font.ttf');
}
