@font-face {
   font-family: 'ZenzaiIt';
   font-display: swap;
   src: url('ZenzaiIt/font.ttf');
}
@font-face {
   font-family: 'Cinzel-Black';
   font-display: swap;
   src: url('Cinzel-Black/font.ttf');
}
@font-face {
   font-family: 'big_noodle';
   font-display: swap;
   src: url('big_noodle/font.ttf');
}
@font-face {
   font-family: 'BankGothic Bold';
   font-display: swap;
   src: url('BankGothic Bold/font.ttf');
}
@font-face {
   font-family: 'ostrich-black';
   font-display: swap;
   src: url('ostrich-black/font.ttf');
}
